.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}


body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 4rem;
}

.htl-logo {
  height: 5rem;
}

.content {
  /* Dieser Padding wird durch die Margins der PDF-Generierung überlagert */
  padding: 0;
  /* padding: 1rem; */
}
/* Basisches Styling für Markdown-Elemente */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
  break-before: page;
}

h1.nobreak {
  break-before: auto;
}

h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.2rem;
}
p {
  margin-bottom: 1rem;
  line-height: 1.5;
  break-inside: avoid;
}

ul,
ol {
  margin-left: 20px;
  margin-bottom: 1em;
}

li {
  break-inside: avoid;
  margin-bottom: .4rem;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9em;
  white-space: pre-wrap;
  word-wrap: break-word;
  break-inside: avoid;
}
code {
  font-family: 'Courier New', Courier, monospace;
  background-color: #e0e0e0;
  padding: 2px 4px;
  border-radius: 3px;
}
blockquote {
  border-left: 4px solid #ccc;
  padding-left: 1em;
  margin-left: 0;
  color: #666;
  break-inside: avoid;
}
hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.pagebreak {
  page-break-before: always;
}

.center {
  justify-self: center;
}